body {
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, cursive;
  background: #EEE;
  padding: 0;
  margin: 0;
}

button, .inputButton {
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, cursive;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

.info-button {
  margin-left: 10px;
  margin-right: 0;
  border: 1px solid black;
  font-size: 12px;
  padding: 1px 4px 1px 4px;
}

#status-window {
  position: fixed;
  left: 0;
  bottom: 0;
  border-right: 2px solid black;
  height: 130px;
  width: 52px;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
}

.status-box {
  font-size: 13px;
  height: 22px;
  width: 36px;
  border-bottom: 2px solid black;
  padding: 7px 8px 2px 8px;
}

.status-label {
  font-weight: bold;
}

#error-box {
  display: none;
}

#info-box, #error-box {
  left: 30%;
  width: 40%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 30px;
  background-color: white;
}

#error-box-inner {
  background-color: #E61919;
}

#error-box-inner, #info-box-inner {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 8px;
  height: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#game-board {
  width: 96%;
  padding-left: 10px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

#pass-turn {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px 15px 4px 15px;
  cursor: pointer;
  background-color: white;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.playerName, .turnIndicator{
  -webkit-text-fill-color: black;
  margin-bottom: 15px;
  float: left;
  font-size: 20px;
}

.turnIndicator {
  width: 20px;
  font-style: normal;
}

.playerPoints {
  font-style: normal;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: black;
  float: left;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 3px;
  -webkit-text-stroke-width: 0;
}

#common-area {
  height: 680px;
  width: 764px;
  position: absolute;
  left: 10px;
  top: 65px;
}

#noble-area {
  height: 140px;
  width: 100%;
  margin-bottom: 10px;
  zoom: 0.8;
  -moz-transform: scale(0.8);
}

#noble-area .noble {
  cursor: pointer;
}

#level-area {
  height: 540px;
  width: 640px;
  float: left;
}

#gem-area {
  height: 540px;
  width: 84px;
  float: left;
}

#player-area {
  height: 680px;
  width: 500px;
  position: absolute;
  right: 0px;
  top: 65px;
}

.noble {
  float: left;
  margin-right: 12px;
  width: 130px;
  height: 130px;
  border: 1px solid white;
  box-shadow: 8px 8px 10px #dedede;
  border-radius: 8px;
  background-color: #eeeeee;
}

.card, .deck {
  float: left;
  margin-right: 10px;
  margin-bottom: 22px;
  width: 115px;
  height: 160px;
  border-radius: 7px;
  position: relative;
  border: 1px solid white;
  box-shadow: 4px 4px 4px #ccc;
}

.overlay {
  display: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#common-area .card:hover .overlay, .deck:hover .overlay, .reserveArea .card:hover .overlay {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  border-radius: 6px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
}

.act:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.act {
  border-radius: 50%;
  cursor: pointer;
}

.buy {
  font-size: 28px;
  text-align: center;
  margin-top: 65px;
  margin-left: 44px;
  width: 29px;
  height: 29px;
  border: 3px solid white;
  position: relative;
}

.plus {
  position: absolute;
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: normal;
  -webkit-text-stroke-width: 0;
  font-weight: normal;
  top: -6px;
  left: 5px;
}

.reserve {
  position: absolute;
  bottom: 20px;
  left: 45px;
  height: 33px;
  width: 33px;
}

.reserveCards {
  float: left;
  width: 295px;
  height: 125px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  border: 2px solid black;
  -webkit-box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.2);
  box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.2);
}

.reserveArea .reserve {
  display: none;
}

.floppy {
  width: 33px;
  height: 33px;
}

.card .underlay {
  z-index: 1;
}

.colorSet {
  float: left;
}

.colorSet .card {
  float: none;
}

.colorSetInner {
  height:30px;
  overflow: visible;
}

.spacer, .smallspacer {
  width: 115px;
  margin-right: 13px;
  margin-bottom: 40px;
}

.spacer {
  height: 120px;
}

.smallspacer {
  height: 1px;
}

.floater {
  width: 420px;
  float: left;
}

.nobles {
  float: left;
}

.player .noble {
  float: none;
  margin-bottom: 10px;
  zoom: 0.5;
  -moz-transform: scale(0.5);
}

.colorSetInner, .spacer, .smallspacer {
  zoom: 0.5;
  -moz-transform: scale(0.5);
}

.reserveText {
  padding-left: 10px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
  -webkit-text-fill-color: black;
  float: left;
}

.reserveArea {
  margin-top: 20px;
}

.reserveArea .card, .reserveArea .deck {
  zoom: 0.75;
  -moz-transform: scale(0.75);
}

.card-r {
  background-image: url('img/volcano.jpg');
  background-size: 284px 160px;
  background-position: center;
}

.card-g {
  background-image: url('img/ship.jpg');
  background-size: 284px 160px;
  background-position: center;
}

.card-b {
  background-image: url('img/desert.jpg');
  background-size: 334px 160px;
  background-position: center;
}

.card-w {
  background-image: url('img/mountain.jpg');
  background-size: 284px 160px;
  background-position: center;
}

.card-u {
  background-image: url('img/island.jpg');
  background-size: 213px 160px;
  background-position: center;
}

.color {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 6px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.side-bar {
  width: 30px;
  height: 128px;
  padding-left: 3px;
  padding-top: 2px;
  background-color: snow;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.points {
  padding-left: 4px;
  font-size: 30px;
  margin-bottom: 8px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #777;
}

.header {
  height: 44px;
  width: 110px;
  padding-left: 5px;
  top: 0px;
  position: absolute;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.player .header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.requires {
  font-size: 14px;
  width: 8px;
  height: 20px;
  padding: 1px 4px 1px 4px;
  margin-left: 3px;
  border-radius: 3px;
  border: 1px solid white;
  margin-bottom: 2px;
}

.remaining {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 8px;
  background-color: black;
  border: 3px solid white;
  width: 30px;
  height: 26px;
  padding-top: 4px;
  text-align: center;
}

.costs {
  text-align: center;
  padding-left: 5px;
  bottom:4px;
  position: absolute;
}

.cost {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 1px;
}

.b {
  background-image: -moz-radial-gradient(20px 20px 45deg, circle cover, black 0%, dimgray 100%, slategray 95%);
	background-image: -webkit-radial-gradient(20px 20px, circle cover, black, dimgray);
	background-image: radial-gradient(20px 20px 45deg, circle cover, black 0%, dimgray 100%, slategray 95%);
}

.u {
  background-image: -moz-radial-gradient(20px 20px 45deg, circle cover, blue 0%, dodgerblue 100%, deepskyblue 95%);
	background-image: -webkit-radial-gradient(20px 20px, circle cover, blue, dodgerblue);
	background-image: radial-gradient(20px 20px 45deg, circle cover, blue 0%, dodgerblue 100%, deepskyblue 95%);
}

.w {
  background-image: -moz-radial-gradient(20px 20px 45deg, circle cover, lightgray 0%, white 100%, black 95%);
	background-image: -webkit-radial-gradient(20px 20px, circle cover, lightgray, white);
	background-image: radial-gradient(20px 20px 45deg, circle cover, lightgray 0%, white 100%, black 95%);
}

.g {
  background-image: -moz-radial-gradient(20px 20px 45deg, circle cover, green 0%, yellowgreen 100%, seagreen 95%);
	background-image: -webkit-radial-gradient(20px 20px, circle cover, green, yellowgreen);
	background-image: radial-gradient(20px 20px 45deg, circle cover, green 0%, yellowgreen 100%, seagreen 95%);
}

.r {
  background-image: -moz-radial-gradient(20px 20px 45deg, circle cover, darkred 0%, orangered 100%, firebrick 95%);
  background-image: -webkit-radial-gradient(20px 20px, circle cover, darkred, orangered);
  background-image: radial-gradient(20px 20px 45deg, circle cover, darkred 0%, orangered 100%, firebrick 95%);
}

.gem {
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 7px;
  box-shadow: 4px 4px 4px #c2c2c2;
  position: relative;
}

.you .gem:hover .underlay {
  display: block;
}

.you .gem .underlay {
  position: absolute;
  width: 80px;
  height: 76px;
  padding-top: 4px;
  text-align: center;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0;
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: normal;
  font-size: 50px;
  cursor: pointer;
}

.gem .underlay {
  display: none;
}

.player .gem {
  zoom: 0.7;
  -moz-transform: scale(0.7);
  margin-right: 18px;
  float: left;
}

.player {
  margin-bottom: 30px;
}

.uchip {
  background-image: url('img/ugem.png');
}

.bchip {
  background-image: url('img/bgem.png');
}

.rchip {
  background-image: url('img/rgem.png');
}

.gchip {
  background-image: url('img/ggem.png');
}

.wchip {
  background-image: url('img/wgem.png');
}

.schip {
  background-image: url('img/sgem.png');
}

.player .bubble {
  width: 30px;
  height: 30px;
  font-size: 22px;
  top: -8px;
  left: -8px;
}

.bubble {
  border-radius: 50%;
  border: 3px solid white;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: black;
  position: absolute;
  z-index: 2;
}

.wgem {
  top: 9px;
  background-image: url('img/diamond.png');
}

.ggem {
  background-image: url('img/emerald.png');
}

.rgem {
  background-image: url('img/ruby.png');
}

.bgem {
  background-image: url('img/chocolate.png');
}

.ugem {
  background-image: url('img/sapphire.png');
}

.deck {
  background-color: white;
  background-size: 109px 154px;
  background-repeat: no-repeat;
  background-position: center;
}

.level1 {
  background-image: url('img/level1.png');
}

.level2 {
  background-image: url('img/level2.png');
}

.level3 {
  background-image: url('img/level3.png');
}

.breaker {
  clear: both;
}

#game-title {
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  height: 37px;
}

#game-title-span {
  padding-left: 15px;
}

#leave-game, #start-game {
  float: right;
}

#games-list {
  float: left;
  width: 70%;
}

#game-manager {
  margin: 40px;
}

#games-list ul li span.game-title {
  cursor: pointer;
  font-weight: bold;
  color: #750000;
}

#games-list ul li .game-playerCount{
  font-weight: lighter;
  color: #AAA;
  font-size: .8em;
}

#create-game {
  float: left;
  width: 30%;
}

#create-game input[type=text] {
  font-size: 1.2em;
  padding: 0.25em;
  margin: 0.25em 0;
  font-family: Georgia, serif;
  font-style: italic;
  border-radius: 3px;
}

#create-game input[type=submit] {
  border-radius: 0.5em;
  background-color: white;
  border: 2px solid black;
  padding: 1em;
  color: black;
  margin-top: 1em;
}

.game-title {
  padding-right: 5px;
}
